@charset "ISO-8859-1";

#nav li a {
	font-family:'HelveticaNeueW01-77BdCn 692722';
	font-size: 16px;
	color: #fff;
	cursor:pointer;
	display:block;
	text-align: left;
	position:relative;
	text-decoration:none;
	padding-left: 8px;
	padding-top: 5px;
	padding-right: 24px;
	padding-bottom: 6px;
}

#nav li ul{
	position: absolute;
	display: none;
	list-style: none;
	top: 30px;
	left: 0;
	*margin:0;
	*padding:0;
	*width:auto;
	border: 1px solid #fff;
	border-top: 0;
	text-align: left;
	font-family:'HelveticaNeueW01-57Cn';
	background-color: #7795c8;
	z-index:5000;
	}

#fadeshow1 {
	clear:both;
	width: 1000px;
	height:442px;
	margin-bottom:20px;
	padding:0px;
	position:relative;
	z-index:-1000;
	margin-top:-40px;
}

#topright {
	float: right;
	margin-top:30px;
}